body {
  background-color:rgba(247, 247, 247, 0.911);
} 
.container {
  align-content: center;
  margin-left: 20px;
  max-width: 800px;
  display: block;
  position: relative;
  padding: 10px;
 }
 [id^="sec-"]:not(sec-1) {
  position: relative;
  left: 130px;
  max-width: 560px;
  color: black;
 } *
header {
  font-size: 24px;
  color: black;
  text-align: center;
  text-decoration: none;
}
#sec-1 {
  position: absolute;
  top: 0;
  left: 10px;
  max-width: 200px;
}
#sec-1 header {
  color: blue;
  left: 10px;
  
}
.nav-link {
  text-decoration: none;
  color: black;
}

section a:link {
  text-decoration: none;
}
  
#table {
  background-color: rgb(226, 223, 224);
}
#sec-6 {
  padding-top: 20px;;
}
th {
  padding: 2px 10px;
 
}
td {
  padding: 2 15px;

}

/*code {
  text-align: center;
  background-color: black;
  color: rgba(30, 245, 11, 0.918);
}*/
code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  color: rgb(101, 253, 30);
  background-color: #2b2929;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}
footer {
  text-align: right;
}

/*
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-size: 40px;
  width: 100%;
  min-height: 100vh;
}
.container {
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  margin: 5px;
  height: 100%;
  padding: 5px;
  border: 15px solid rgb(17, 0, 255);
  background-color: yellow;
  grid-template-areas: 
  "A A B B  B B B B  B B B B"
  "A A C C  C C C C  C C C C"
  "D D D D  D D D D  D D D D"
  "E E E E  E E E E  E E E E"
  "F F F F  F F F F  F F F F"
  "G G G G  G G G G  G G G G"
  "H H H H  H H H H  H H H H"
  "I I I I  I I I I  I I I I"
  "J J J J  J J J J  J J J J";
}
[id^="sec-"] {
  background-color: rgb(203, 203, 211);
  display: grid;
  padding: 5px;
  place-items: center;
}
#sec-1 {
  grid-area: A;
  background-color: ;
}
#sec-2 {
  grid-area: B;
  background-color: ;
}
#sec-3 {
  grid-area: C;
  background-color: ;
}
#sec-4 {
  grid-area: D;
  background-color: ;
}
#sec-5 {
  grid-area: E;
}
#sec-6 {
  grid-area: F;
}
#sec-7 {
  grid-area: G;
}
#sec-8 {
  grid-area: H;
}
#sec-9 {
  grid-area: I;
}
#sec-10 {
  grid-area: J;
}
#table {
  background-color: lightgray;
  border: 10px dashed rgb(56, 56, 56);
}
*/
/*
.container {
  display: grid;
  gap: 20px;
  grid-template-areas:
  "A A A A  B B B B  B B B B"
  "A A A A  C C C C  C C C C"
  "D D D D  D D D D  D D D D"
  "E E E E  E E E E  E E E E"
  "F F F F  F F F F  F F F F"
  "G G G G  G G G G  G G G G"
  "H H H H  H H H H  H H H H"
  "I I I I  I I I I  I I I I"
  "J J J J  J J J J  J J J J";
}
#sec1 {
  grid-area: A;
  background-color: aqua;
  row-gap: 10px;
}
#sec2 {
  grid-area: B;
  background-color: blueviolet;
}
#sec3 {
  grid-area: C;
  background-color: chartreuse;
}
#sec4 {
  grid-area: D;
  background-color: rgb(0, 238, 255);
}
#sec5 {
  grid-area: E;
  background-color: rgb(247, 0, 255);
}
#sec6 {
  grid-area: F;
  background-color: rgb(169, 207, 126);
}
#sec7 {
  grid-area: G;
  background-color: blueviolet;
}
#sec8 {
  grid-area: H;
  background-color: antiquewhite;
}
#sec9 {
  grid-area: I;
  background-color: cornflowerblue;
}
#sec10 {
  grid-area: J;
  background-color: fuchsia;
}
*/

/*
body {
  background-color:rgb(178, 184, 189)
}
section header {
  float: right
}
nav {
  float: left;
}
nav header {
  color: blue;
  font-size: 3vw;
}
nav-link {
  
}
section header {
  text-align: center;
  font-size: 6vw;
}

section a:link {
  text-decoration: none;
}
  
h2 {
  color: red;
  font-size: 4vw;
}
p {
  font-size: 2vw;
}
#table {
  
}
th {
  padding: 2px 10px;
  font-size: 2.2vw;
}
td {
  padding: 2 15px;
  font-size: 2vw;
}


footer {
  text-align: right;
}
*/